In [17]:
#import libraries
import pandas as pd
import numpy as np

In [18]:
# Load data into a dataframe which called as 'match'

match = pd.read_csv('D:/Self Study/Predict football match winners with machine learning/Data/matches.csv',index_col=0)

# read first five rows

match.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [19]:
# check the shape of the dataframe
match.shape

(1389, 27)

There can be seen 1389 rows and 27 columns in this dataset.

In [20]:
# check missing values
match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 1 to 42
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1389 non-null   object
 1   time          1389 non-null   object
 2   comp          1389 non-null   object
 3   round         1389 non-null   object
 4   day           1389 non-null   object
 5   venue         1389 non-null   object
 6   result        1389 non-null   object
 7   gf            1389 non-null   float64
 8   ga            1389 non-null   float64
 9   opponent      1389 non-null   object
 10  xg            1389 non-null   float64
 11  xga           1389 non-null   float64
 12  poss          1389 non-null   float64
 13  attendance    693 non-null    float64
 14  captain       1389 non-null   object
 15  formation     1389 non-null   object
 16  referee       1389 non-null   object
 17  match report  1389 non-null   object
 18  notes         0 non-null      float64
 19  sh            1389 non-null   float64
 20  sot           1389 non-null   float64
 21  dist          1388 non-null   float64
 22  fk            1389 non-null   float64
 23  pk            1389 non-null   float64
 24  pkatt         1389 non-null   float64
 25  season        1389 non-null   int64
 26  team          1389 non-null   object
dtypes: float64(13), int64(1), object(13)
memory usage: 303.8+ KB

There can be seen attendence,notes columns have a few missing data. but we can not get a clue about the all the columns by using this code.

###### In EPL Matches, 38 matches playing in each season, 20 teams will participate on it. In this dataset we are having 2 seasons which are 2020-2021 season and 2021-2022 season.So,
###### the total number of matches  = (no of matches in a season * no of teams * no of seasons)
######                              = 38 * 20 * 2
######                              =1520

In [23]:
match['team'].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64